/* --------------------------------------------------------------
King Composer Styles
-------------------------------------------------------------- */

/* -- Row -- */

.kc_row {
  overflow: hidden;
}

/* -- Text Blocks -- */

.content-area .kc_text_block {
  text-align: inherit;
}

.content-area .kc_text_block > h1:first-child,
.content-area .kc_text_block > h2:first-child,
.content-area .kc_text_block > h3:first-child,
.content-area .kc_text_block > h4:first-child,
.content-area .kc_text_block > h5:first-child {
  margin-top: 0px;
}

/* -- Images -- */

.content-area .kc_single_image img {
  margin: 0px;
}

/* -- Image hover -- */

.kc_shortcode a[rel~="prettyPhoto"] {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

/* -- Grid -- */

.content-area .kc_row:not(.kc_row_inner) {
  width: initial;
  float: none;
  margin-left: -15px;
  margin-right: -15px;
}

/* -- Headings -- */

.content-area .kc_shortcode h3, .content-area .kc_shortcode h4, .content-area .kc_shortcode h5 {
  font-weight: inherit;
  margin-bottom: 10px;
}

/* -- Tabs -- */

.content-area .kc_tabs_nav ~ .kc_tab.ui-tabs-body-active {
  padding: 25px 0px 5px 0px;
}

body .kc_tabs_nav ~ .kc_tab .kc_tab_content {
    padding: 0px 20px;
}

body .kc_tabs_nav ~ .kc_tab.ui-tabs-body-active {
  background: transparent;
}

body .kc_wrapper.ui-tabs {
  border: 1px solid #eee;
}

body .content-area .kc_tabs_nav > .ui-tabs-active > a,
body .content-area .kc_tabs_nav > .ui-tabs-active, 
body .content-area .kc_tabs_nav > .ui-tabs-active:hover, 
body .content-area .kc_tabs_nav > .ui-tabs-active > a:hover {
  background: #fff;
}

.content-area .kc_tabs > .kc_wrapper > .kc_tabs_nav {
  background-color: #f6f6f6;
}

.content-area .kc_tabs_nav > li {
  border: none;
}

.content-area .kc_tabs_nav > li > a {
  padding: 0px 20px;
}

.content-area .kc_tabs_nav > li:hover, 
.content-area .kc_tabs_nav > li > a:hover, 
.content-area .kc_tabs_nav > li > a:focus,
.content-area .kc_tabs_nav > .ui-tabs-active > a, 
.content-area .kc_tabs_nav > .ui-tabs-active > a:hover, 
.content-area .kc_tabs_nav > .ui-tabs-active > a:focus {
  background: none;
}

.content-area .kc_tabs_nav > li.ui-tabs-active:hover {
  background-color: #fff;
}

/* -- Accordions -- */

.content-area .kc_accordion_content .kc-panel-body {
  padding: 15px 15px 0px 15px;
}

.content-area .kc_accordion_content {
  color: inherit;
  font-size: 14px;
  width: 100%;
}

.kc_accordion_wrapper p {
  margin-bottom: 12px;
}

.content-area .kc_accordion_header > a {
  line-height: 1.5em;
}

.content-area .kc_accordion_header > a:before {
  content: "\f107";
  font-family: 'Fontawesome';
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.content-area .kc_accordion_header > span.ui-accordion-header-icon {
  visibility: hidden;
}

/* -- Progress Bars -- */

.content-area .kc_progress_bars .progress-item span.label {
  display: block;
}

.content-area .kc-ui-progress div.ui-label {
  font-size: 12px;
}

.content-area .kc-ui-progress2 span.value {
  background: none;
  background-color: #f2f2f2;
  height: 30px;
  top: -7px;
  position: relative;
}

.content-area .kc-ui-progress2 span.value:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #f2f2f2;
  border-width: 6px;
  margin-left: -6px;
}

.content-area .kc_progress_bars {
  padding-top: 10px;
}

.content-area .kc_progress_bars .progress-item span.label {
  font-weight: inherit;
}

/* -- Buttons -- */

body .content-area .kc_button {
  border: none !important;
}

body .content-area .button_size_small {
  font-size: 14px;
}

/* -- Flip Boxes -- */

.content-area .kc-flip-container .back h3 {
  margin: 0px;
}

.content-area .kc-flip-container .back .des p {
    margin-bottom: 0px;
}

/* -- Post Carousel -- */

.content-area .kc-owl-post-carousel .image img {
  margin: 0px;
  width: 100%;
}

.content-area .kc-owl-post-carousel .owl-item .image {
  margin-bottom: 10px;
}

.content-area .kc-owl-post-carousel .owl-item .image .caption {
  bottom: 8px;
  font-size: 16px;
  padding: 10px 0px;
}

.kc-owl-post-carousel .owl-item .image .caption a {
  font-size: inherit;
}

.content-area .kc-owl-post-carousel .in-post-content {
  text-align: inherit;
  font-size: 14px;
  margin-bottom: 10px;
}

.content-area .kc-owl-post-carousel .owl-item .title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 22px;
}

.content-area .kc-owl-post-carousel .owl-item .kc-entry_meta {
  margin-bottom: 0px;
  opacity: 0.6;
}

.content-area .kc-owl-post-carousel .owl-item .read-more {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
}

.content-area .kc-owl-post-carousel .owl-item .read-more:hover {
  background: transparent;
  border: 1px solid #ccc;
}

.content-area .owl-theme .owl-controls .owl-buttons div {
  font-size: 13px;
  background: #ccc;
  filter: Alpha(Opacity=100);
  opacity: 1;
}

/* -- Twitter -- */

.content-area .kc_wrap_twitter .button_follow_wrap {
  padding: 2px 10px 10px;
  border: 1px solid #e9eaed;
}

.content-area .kc_twitter_feed .user_twitter span {
  font-size: 14px;
}

.content-area .kc_twitter_feed .user_twitter img {
  border: none;
  border-radius: 3px;
}

.content-area .kc_twitter_feed .tweet_user a {
  font-weight: inherit;
}

.content-area .kc_twitter_feed .tweet_user {
  padding-bottom: 0px;
}

.content-area .kc_twitter_feed .tweet_desc .name {
  font-weight: bolder;
}

.content-area .kc_twitter_feed .twitter-footer {
  margin-top: 10px;
  font-style: normal;
}

.content-area .kc_twitter_feed ul li {
  font-size: 14px;
  margin-bottom: 14px;
  padding-bottom: 5px;
}

/* -- Post Type List -- */

.content-area .list-post-type h3 {
  margin: 20px 0 0px;
}

.content-area .kc-carousel-post .post-content {
  padding: 0px 20px;
}

.content-area .kc-owl-post-carousel {
  padding-top: 10px;
}

.content-area .kc-owl-post-carousel .owl-item .title {
  text-overflow: inherit;
  white-space: inherit;
  line-height: 1.35em;
}

/* -- Counters -- */

.content-area .kc-box-counter-1 .counterup {
  font-size: 110px;
  font-weight: inherit;
  line-height: 110px;
  margin-bottom: 5px;
}

/* -- KC 2.5 Fixes -- */

body .kc-container {
  max-width: 1100px;
}

body.page.page-template-page-full-width .edit-link,
.page-template-page-full-width-without-heading .edit-link {
  max-width: 1100px;
  margin: 0px auto;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.content-area .kc_counter_box h4 {
  margin-top: 0px;
}

body .kc_progress_bars .progress-item {
  margin-bottom: 15px;
}

.content-area .kc-ui-progress div.ui-label {
  font-size: 12px;
  margin: 0px;
  bottom: 2px;
  right: -15px;
}

@media only screen and (max-width: 770px) {

  /* -- Responsive KingComposer -- */

  body.kingcomposer .crellyslider-slider {
    margin-left: -15px;
    margin-right: -15px;
  }

  body.kingcomposer .content-area {
    margin-left: -15px;
    margin-right: -15px;
  }

  body.kingcomposer .content-area .kc_row:not(.kc_row_inner) {
    margin-left: 0px;
    margin-right: 0px;
  }

  body.kingcomposer div[class*="kc_col-sm-"] {
    padding-left: 15px;
    padding-right: 15px;
  }

}